html{
  background-color: lightslategray;
}
.container-fluid{
  background-color: lightslategrey;
}
input[type='text']{
background-color: transparent;
color: white;
}
input[type='text']:focus{
  background-color: transparent;
  color: white;
  }